<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5 text-white">
    <div class="d-flex justify-content-between">
        <h1 class="">Games</h1>
        <div>
            <a class="btn btn-success" th:href="@{/admin/games/add}">Add Game</a>
        </div>
    </div>
    <div class="text-white" th:each="game: ${games}">
        <div class="d-md-flex justify-content-between mt-2 p-2 bg-steam">
            <div class="d-sm-flex justify-content-start">
                <img th:src="@{${game.imgUrl}}" class="x80" th:alt="${game.name}">
                <div class="ms-sm-5">
                    <p>Name: <span th:text="${game.name}"></span></p>
                    <p>Price: <span th:text="${game.price}"></span></p>
                </div>
                <div class="ms-sm-5">
                    <p>Developer: <span th:text="${game.devName}"></span></p>
                    <p>Stock: <span th:text="${game.stock}"></span></p>
                </div>
            </div>
            <div>
                <a class="btn btn-primary" th:href="@{/admin/games/{id}(id=${game.id})}">Edit</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>