<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5 text-white">
    <div class="d-flex justify-content-between">
        <h1 class="">Free Game Code</h1>
        <div>
            <a class="btn btn-success" th:href="@{/admin/codes/add}">Create Code</a>
        </div>
    </div>
    <div class="text-white" th:each="code: ${codes}">
        <div class="d-sm-flex justify-content-between mt-2 p-2 bg-steam">
            <div class="d-sm-flex justify-content-start">
                <div class="ms-sm-5">
                    <p>Id: <span th:text="${code.id}"></span></p>
                    <p>Code: <span th:text="${code.code}"></span></p>
                </div>
                <div class="ms-sm-5">
                    <p>Game: <span th:text="${code.gameName}"></span></p>
                    <p>Used: <span th:if="${code.used}">Yes</span>
                            <span th:unless="${code.used}">No</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>