<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5 text-white mb-5">
    <h1>Add Game</h1>
    <form th:action="@{/admin/games/add}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Game Name: </label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="price" class="form-label">Price: </label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="img">Img: </label>
                    <input class="form-control" type="text" id="img" name="imgUrl">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="devName">Developer: </label>
                    <select id="devName" class="form-select" name="devName">
                        <option th:each="dev: ${devs}" th:value="${dev.name}" th:text="${dev.name}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="desc">Description: </label>
                    <textarea class="form-control" id="desc" name="desc"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add game</button>
        <a class="btn btn-primary" th:href="@{/admin/games}">Go Back</a>
    </form>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>