<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5 text-white mb-5">
    <h1>Edit User</h1>
    <form th:action="@{/admin/users/{id}(id=${user.id})}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Game Name: </label>
                    <input type="text" class="form-control" id="name" name="username" th:value="${user.username}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="text" class="form-control" id="email" name="email" th:value="${user.email}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="role" class="form-label">Role: </label>
                    <select class="form-control" id="role" name="role">
                        <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">ADMIN</option>
                        <option value="USER" th:selected="${user.role == 'USER'}">USER</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="img">Password: </label>
                    <input class="form-control" type="text" id="img" name="password" required>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${user.id}">
        <button type="submit" class="btn btn-success">Edit User</button>
        <a class="btn btn-primary" th:href="@{/admin/users}">Go Back</a>
    </form>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>