<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<div class="container">
    <div class="row full-height">
        <div class="col-md-10 offset-md-1 bg-steam p-5 my-auto rounded text-white">
            <div th:if="${message}" >
                <h1 th:text="${message}"></h1>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>
</html>