<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5">
    <h1 class="text-white">My Games</h1>
    <div class="row mt-2">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mt-3" th:each="game: ${games}">
            <div class="card bg-void" style="width: 18rem;">
                <img th:src="@{${game.imgUrl}}" class="card-img-top" th:alt="${game.name}">
                <div class="card-body bg-steam text-white">
                    <h5 class="card-title" th:text="${game.name}"></h5>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>