<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5 text-white">
    <h1 class="">Purchase ID: <span th:text="${order.id}"></span></h1>
    <p>Date: <span th:text="${order.date}"></span></p>
    <p>Total Games: <span th:text="${order.totalGames}"></span></p>
    <p>Total: <span th:text="${order.total}"></span></p>
    <div class="text-white mt-2">
        <h3>Games Purchased</h3>
        <div class="table-responsive">
            <table class="table table-dark">
                <theader>
                    <tr>
                        <th>Img</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </theader>
                <tbody>
                <tr th:each="detail: ${details}">
                    <td>
                        <img th:src="@{${detail.gameImg}}" class="x40" th:alt="${detail.gameName}">
                    </td>
                    <td th:text="${detail.gameName}"></td>
                    <td th:text="${detail.quantity}"></td>
                    <td th:text="${detail.total}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-white mt-2">
        <h3>Games Rented</h3>
        <div class="table-responsive">
            <table class="table table-dark">
                <theader>
                    <tr>
                        <th>Img</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>First Day</th>
                        <th>Last Day</th>
                        <th>Returned</th>
                    </tr>
                </theader>
                <tbody>
                <tr th:each="rent: ${rents}">
                    <td>
                        <img th:src="@{${rent.gameImg}}" class="x40" th:alt="${rent.gameName}">
                    </td>
                    <td th:text="${rent.gameName}"></td>
                    <td th:text="${rent.quantity}"></td>
                    <td th:text="${rent.total}"></td>
                    <td th:text="${rent.firstMonth}"></td>
                    <td th:text="${rent.lastMonth}"></td>
                    <td th:text="${rent.wasReturned ? 'Yes' : 'No'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>