<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<header th:insert="fragments/fragments :: header"></header>

<div class="container mt-5 text-white">

    <h1>Profile</h1>
    <form th:action="@{/profile/update}" method="POST">
        <h3 th:if="${profilemessage}">
            <span th:text="${profilemessage}"></span>
        </h3>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" class="form-control" id="username" name="username"
                           aria-describedby="username" th:value="${user.username}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" th:value="${user.email}">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <h2 class="mt-5">Change Password</h2>
    <form th:action="@{/profile/password}" method="POST">
        <h3 th:if="${passwordmessage}">
            <span th:text="${passwordmessage}"></span>
        </h3>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="actpassword" class="form-label">Actual Password: </label>
                    <input type="password" class="form-control" id="actpassword" name="actualPassword">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="newpassword" class="form-label">New Password: </label>
                    <input type="password" class="form-control" id="newpassword" name="newPassword">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="repassword" class="form-label">Repeat New Password: </label>
                    <input type="password" class="form-control" id="repassword" name="repeatPassword">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <div class="container mt-5 mb5">
        <div class=" mt-5 d-flex justify-content-between">
            <h2 class="">My Games In Sale</h2>
            <div>
                <a class="btn btn-success" th:href="@{/profile/game/add}">Put Game In Sale</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-dark">
                <theader>
                    <tr>
                        <th>Img</th>
                        <th>GameId</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th></th>
                        <th></th>
                    </tr>
                </theader>
                <tbody>
                <tr th:each="game: ${games}">
                    <td>
                        <img th:src="@{${game.imgUrl}}" class="x40" th:alt="${game.name}">
                    </td>
                    <td th:text="${game.id}"></td>
                    <td th:text="${game.name}"></td>
                    <td th:text="${game.price}"></td>
                    <td th:text="${game.stock}"></td>
                    <td><a class="btn btn-primary" th:href="@{/profile/game/{id}(id=${game.id})}">Edit</a></td>
                    <td> <a class="btn btn-primary" th:href="@{/profile/game/sales/{id}(id=${game.id})}">View Sales</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-5 mb5">
        <h2 class="">My Rented Games No Returned</h2>
        <div class="table-responsive">
            <table class="table table-dark">
                <theader>
                    <tr>
                        <th>Img</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>FirstMonth</th>
                        <th>LastMonth</th>
                        <th></th>
                    </tr>
                </theader>
                <tbody>
                <tr th:each="rent: ${rented}">
                    <td>
                        <img th:src="@{${rent.gameImg}}" class="x40" th:alt="${rent.gameName}">
                    </td>
                    <td th:text="${rent.gameName}"></td>
                    <td th:text="${rent.quantity}"></td>
                    <td th:text="${rent.total}"></td>
                    <td th:text="${rent.firstMonth}"></td>
                    <td th:text="${rent.lastMonth}"></td>
                    <td>
                        <form th:action="@{/profile/return}" method="POST">
                            <input type="hidden" name="gameId" th:value="${rent.id}">
                            <button type="submit" class="btn btn-primary">Return</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-5 mb5">
        <h2 class="">My Purchases</h2>
        <div class="table-responsive">
            <table class="table table-dark">
                <theader>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Total Games</th>
                        <th></th>
                    </tr>
                </theader>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.date}"></td>
                    <td th:text="${order.total}"></td>
                    <td th:text="${order.totalGames}"></td>
                    <td><a class="btn btn-primary" th:href="@{/profile/order/{id}(id=${order.id})}">View</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:if="${message == 'Game returned'}">
    Swal.fire({
        title: 'Success!',
        text: 'Game returned!',
        icon: 'success',
        confirmButtonText: 'OK'
    })
</script>
</body>

</html>