<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/fragments :: headerfiles">
</head>

<body class="bg-void">
<div class="container">
    <div class="row full-height">
        <div class="col-md-10 offset-md-1 bg-steam p-5 my-auto text-white rounded">
            <h1>GamePoint - Create New Account</h1>
            <form th:action="@{/signup}" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" class="form-control" id="username" name="username"
                           aria-describedby="username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
                <a href="/login" class="link-primary d-inline ms-3">I have an Account</a>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footerfiles"></div>
</body>

</html>